.cart-image-container {
  height: 28rem;
}

.fs-7 {
  font-size: 0.75rem;
}

.cartaddbtn {
  background-color: #ff5c39;
  color: white;
  width: 48px;
  height: 48px;
  border: 1px solid #ff5c39;
}
.cartaddbtn:hover,
.cartaddbtn:focus {
  background-color: transparent;
  border: 1px solid #ff5c39;
  color: #ff5c39;
  outline: none;
}
.cart-tag {
  background-color: #ff5c39;
  right: -1.5rem;
}
.cart-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
